.navbar_container {
    width: 100%;

}

.buttons_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 3vh 0;

}

.button {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.2rem 0.8rem;
    border-radius: 25px;
    transition: text-decoration 0.4s;
    position: relative;
    text-decoration: none;
    color: whitesmoke;
}

.button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: 0.15rem;
    background-color: whitesmoke;
    transform: scaleX(0);          
    transform-origin: center;
    transition: transform 0.3s ease;
}

.button:hover::after {
    transform: scaleX(1);
}